body {
  padding-top: 50px;
}

#sidebar {
  margin-top: 1em;
}

.spec-status {
  font-weight: bold;
  text-align: center;
  padding: 1em 1em;
  background-color: #ffffee;
}

.spec-status-adopted {
  background-color: #eeffee;
}

.spec-status-standard {
  background-color: #eeeeff;
}
