body {
  padding-top: 50px;
}

.spec-status {
  font-weight: bold;
  text-align: center;
  padding: 0.5em 1em;
  background-color: #ffffee;
  margin-bottom: 1em;
}

.spec-status-adopted {
  background-color: #eeffee;
}
