<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>WARC Specifications</title>

    <link rel="stylesheet" href="{{site.baseurl}}/assets/stylesheets/styles.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>WARC Specifications</h1>
        <p>Centralised repository for WARC usage specifications.</p>

        <ul>
          <li><a href="{{ site.baseurl }}/specifications/warc-format"/>WARC format specifications</a></li>
          <li><a href="{{ site.baseurl }}/specifications/warc-deduplication"/>Deduplication WARC Records</a></li>
          <li><a href="{{ site.baseurl }}/specifications/warc-rendered-targets"/>Rendered Targets WARC Records</a></li>
          <li><a href="{{ site.baseurl }}/specifications/warc-date"/>WARC Record Timestamps</a></li>
        </ul>

        <p class="view"><a href="https://github.com/iipc/warc-specifications">View the Project on GitHub <small>iipc/warc-specifications</small></a></p>

        <ul class="downloads">
          <li><a href="https://github.com/iipc/warc-specifications/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/iipc/warc-specifications/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/iipc/warc-specifications">View On <strong>GitHub</strong></a></li>
        </ul>
      </header>
      <section>

{% if page.status %}
<div class="spec-status spec-status-{{ page.status }}">
{{ page.status | capitalize }}
</div>
{% endif %}

<span style="float:right; padding: 0.25em 0.5em; background: #f8f8f8;">
<a href="https://github.com/iipc/warc-specifications/edit/gh-pages/{{ page.path }}"
title="Edit this page on GitHub." class="btn btn-default" id="edit_button">
<span class="glyphicon glyphicon-pencil"></span>
</a>
</span>

        <h3>
<a name="welcome-to-github-pages" class="anchor" href="#welcome-to-github-pages"><span class="octicon octicon-link"></span></a>{{ page.title }}</h3>


{{content}}

{% if page.status %}
<div class="spec-status">
{{ page.status | capitalize }}
</div>
{% endif %}

      </section>
      <footer>
        <p>This project is maintained by <a href="https://github.com/iipc">IIPC</a></p>
        <p><small>Hosted on GitHub Pages.</small></p>
      </footer>
    </div>
    <script src="assets/javascripts/scale.fix.js"></script>
    
  </body>
</html>
